{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}CleverChuk's Route Mining{% endblock %}</h1>
{% endblock %}

{% block content %}

<form class="col-lg-6 offset-lg-3 " enctype=multipart/form-data method="post">
  <label for="formFile" class="form-label">Select file</label>
  <div class="row form-container">
    <input type="file" class="form-control" name="file" id="file" accept=".xlsx,xls"required>
    <span class="input-group-btn">
      <input type="submit" value="Upload" class="btn btn-primary">
    </span>
  </div>
</form>
{% endblock %}